name: Build & Publish Stable Preview
on:
  push:
    branches: ["master"]
jobs:
  build:
    runs-on: ubuntu-22.04.5
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build and push to ${{ github.event.repository.name }}-dev
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./infrastructure/preview.Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}-dev:${{ github.sha }}
  dispatch_update_preview_image:
    needs: build
    runs-on: ubuntu-22.04.5
    steps:
      - name: Dispatch Update Preview Image Command
        uses: myrotvorets/trigger-repository-dispatch-action@1.0.0
        with:
          token: ${{ secrets.PAT }}
          repo: internxt/environments
          type: update-preview-image-command
          payload: |
            { 
              "image": { 
                "name": "${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}",
                "newName": "${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}-dev",
                "newTag": "${{ github.sha }}"
              }
            }