name: Pre build ( Health check )
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  build:
    strategy:
      matrix:
        node-version: [16.x]
    runs-on: ubuntu-22.04.5
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com/

      - name: Install dependencies
        run: yarn --ignore-engines

      - name: Build
        run: yarn build